<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
	<nav class="navbar navbar-default navbar-static-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" >
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a href="/funcionarios" class="navbar-brand logotipo">
					<img src="/images/logo.png" alt="Logo Page Top"/>
				</a>
			</div>
			<div class="collapse navbar-collapse" id="menu">
				<ul class="nav navbar-nav">
					<li> <a href="/funcionarios/novo">Cadastrar Funcionário</a> </li>
					<li> <a href="/funcionarios">Pesquisar Funcionário</a> </li>
				</ul>
			</div>
		</div>
	</nav>
</html>