<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" 
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
      
	<div class="alert alert-danger" th:if="${#fields.hasAnyErrors()}">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
		<div th:each="detailedError : ${#fields.detailedErrors()}">
		
			<strong th:text="${detailedError.message}"></strong>
		</div>
	</div>
	<div class="alert alert-success alert-dismissible" th:if="${!#strings.isEmpty(mensagem)}">
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
			<span aria-hidden="true">&times;</span>
		</button>
  		<strong th:text="${mensagem}"></strong> 
	</div>
</html>